{{- $headers := findRE "<h2.*?>(.|\n])+?</h2>" .Content -}}
{{- $has_headers := ge (len $headers) 1 -}}
{{- if $has_headers -}}
<h2 id="sumário" style="margin: 32px auto 24px; font-size: 32px;">
  Sumário
  <a hidden class="anchor" aria-hidden="true" href="#sumário">#</a>
</h2>

<div class="inner">
  <ol style="margin-bottom: var(--content-gap); margin-top: .3rem; line-height: 1.4; margin-left: -10px;">
    {{- range $headers -}}
      {{- $id := index (findRE `id="([^"]+)"` . 1) 0 -}}
      {{- $cleanedID := replace (replace $id `id="` "") `"` "" -}}
      {{- $header := replaceRE `<h2.*?>((.|\n])+?)</h2>` `$1` . -}}
      <li style="line-height: 1.6;">
        <a href="#{{ $cleanedID }}" aria-label="{{ $header | plainify }}" style="text-decoration: underline;">
          {{ $header | plainify | safeHTML }}
        </a>
      </li>
    {{- end -}}
  </ol>
</div>
{{- end -}}