{{- define "main" }}

<main class="home about-page">

    <!-- Hero -->

    <section class="home-hero about-hero">

        <div class="home-hero-main">

            {{- with .Params.photo }}
                <img
                    class="about-photo"
                    src="{{ . }}"
                    alt="Foto de {{ $.Params.name | default $.Site.Title }}"
                >
            {{- end }}

            {{- with .Params.role }}
            <span class="home-label">
                {{ . }}
            </span>
            {{- end }}

            <h1>
                Olá, eu sou
                <span>{{ .Params.name | default .Title }}.</span>
            </h1>

            <!-- social icons -->
            <div class="social-icons">
                {{- range site.Params.socialIcons }}
                    <a
                        href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
                        title="{{ (.title | default .name) | title }}">
                        {{ partial "svg.html" . }}
                    </a>
                {{- end }}
            </div>
            <!-- social icons -->

        </div>

    </section>


    <!-- Conteúdo -->

    <section class="about-content">

        {{- if .Content }}
        <div class="post-content md-content">
            {{- if not (.Param "disableAnchoredHeadings") }}
            {{- partial "anchored_headings.html" .Content -}}
            {{- else }}{{ .Content }}{{ end }}
        </div>
        {{- end }}

    </section>

</main>

{{- end }}{{- /* end main */ -}}